<!-- Site footer -->

<br />
<br />
<br />
<br />

<div class="row footer-row1-bg">
  <div class="home-bottom-leaf">
    <img src="./assets/images/home_img15.png" alt="" />
  </div>

  <div class="row footer-row1">
    <div class="col-sm-3 footer-col1">
      <div class="footer-menu-header">Our Company</div>
      <div class="footer-menu-item"><a href="aboutus.html">About Us</a></div>
    </div>
    <div class="col-sm-3 footer-col2">
      <div class="footer-menu-header">Customer Service</div>
      <div class="footer-menu-item">
        <a href="contactus.html">Contact Us</a>
      </div>
    </div>
    <div class="col-sm-6 footer-col3">
      <div>
        <img src="./assets/images/home_img1.png" alt="" />
        &nbsp;&nbsp;
        <img src="./assets/images/home_img2.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="row footer-row2">
  <div class="col-xl">
    Copyright &copy; 2021. &nbsp;&nbsp;&nbsp; All Rights Reserved.
  </div>
</div>
