<!-- Site footer -->

<br />
<br />
<br />
<br />

<div class="row footer-row1-bg">
  <div class="row footer-row1">
    <div class="col-sm-3 footer-col1">
      <div>Our Company</div>
      <div>About Us</div>
      <div>Our Products</div>
      <div>Shop</div>
      <div>Blog</div>
    </div>
    <div class="col-sm-3 footer-col2">
      <div>Customer Service</div>
      <div>Contact Us</div>
      <div>FAQ</div>
    </div>
    <div class="col-sm-6 footer-col3">
      <div>
        <img src="./assets/images/home_img1.png" alt="" />
        &nbsp;&nbsp;
        <img src="./assets/images/home_img2.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="row footer-row2">
  <div class="col-xl">
    Copyright &copy; 2021. &nbsp;&nbsp;&nbsp; All Rights Reserved.
  </div>
</div>
