<div class="top-menu">
  <nav class="navbar navbar-expand-sm navbar-light nav-menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Our Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">JHc Silk Jelly</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Product 1</a></li>
              <li><a class="dropdown-item" href="#">Product 2</a></li>
              <li><a class="dropdown-item" href="#">Product 3</a></li>
            </ul>
          </li>

          <li class="nav-item nav-menu-words">
            <a class="nav-link" href="aboutus.html">About Us</a>
          </li>

          <li class="nav-item nav-menu-words">
            <a class="nav-link" href="blog.html">Blog</a>
          </li>

          <li class="nav-item nav-menu-words">
            <a class="nav-link" href="faq.html">FAQ</a>
          </li>

          <li class="nav-item nav-menu-words">
            <a class="nav-link" href="contactus.html">Contact Us</a>
          </li>

          <li class="nav-item nav-menu-words">
            <a class="nav-link" href="https://shop.health4u.com.hk">Shop</a>
          </li>

          <li class="nav-item nav-pipe">
            | 
          </li>

          <li class="nav-item nav-icon1">
            <img src="./assets/images/home_img1.png" alt="">
          </li>
          <li class="nav-item nav-icon2">
            <img src="./assets/images/home_img2.png" alt="">
          </li>
          <li class="nav-item nav-icon3">
            <img src="./assets/images/home_img3.png" alt="">
          </li>
          <!-- <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </li> -->
        </ul>
        <!-- <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          /> -->
          <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
      </div>
    </div>
  </nav>
</div>
