.placeholder-menu {
  height: 134px;
  background-color: white;
}

.aboutus-banner-bg {
  height: 150px;
  background-color: #80aaa7;
}

.aboutus-banner {
  font-size: 28pt;
  color: #ffffff;
  margin-left: 50px;
  margin-top: 0px;
  padding-top: 50px;
  position: relative;
}

.aboutus-contents-header {
  font-size: 28pt;
  color: #646464;
  font-weight: bolder;
  margin: 50px;
}

.aboutus-contents {
  width: 1200px;
  font-size: 20pt;
  margin: 50px;
  z-index: 5;
  position: relative;
}

.aboutus-contents > div:nth-child(1) {
  width: 1200px;
  /* font-size: 24pt; */
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: lighter;
  font-family: Nato Sams TC;
}

.aboutus-contents > div:nth-child(2) {
  width: 1200px;
  /* font-size: 24pt; */
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: lighter;
  font-family: Nato Sams TC;
}
